header {
	width: 384px;
	text-align: center;
	background: url(http://djw.net.au/lp/divide.png) no-repeat center 120px;
}

body {
	max-width: 384px;
	width: 384px;
	font-family:'Trebuchet Ms'
}

b {
	font-weight: bold;
}

.logo {
	padding: 6px 0;
}

.thick-line {
	
}

#content {
	
}

.item {
	padding-top: 10px;
	padding-bottom: 15px;
	background: url(http://djw.net.au/lp/the-west-breaking/thin_line.png) no-repeat bottom center;
}

.item:last-child {
    background: url(http://djw.net.au/lp/the-west-breaking/thick_line.png) no-repeat bottom center;
}

.title {
	display: block;
	font-size: 1.275em;
	font-weight: bold;
	padding: 0 0 10px 0;
}

.text {
	display: block;
	font-size: 1.010em;
}

footer {
	text-align: center;
	font-size: 13px;
	margin-top: 10px;
	margin-bottom: 25px;
}