header {
	width: 384px;
	text-align: center;
}

body {
	max-width: 384px;
	width: 384px;
	font-family:'Trebuchet Ms';
}

b {
	font-weight: bold;
}

.subtitle {
	display: block;
	padding-top: 10px;
	font-size: 18px;
}

	.subtitle b {
		font-weight: bold;
	}

.item {
	padding-top: 10px;
	padding-bottom: 15px;
	background: url(http://djw.net.au/lp/the-west-breaking/thin_line.png) no-repeat bottom center;
}

.item:last-child {
    background: url(http://djw.net.au/lp/the-west-breaking/thick_line.png) no-repeat bottom center;
}

.title {
	display: block;
	font-size: 28px;
	font-weight: bold;
	padding: 0 0 10px 0;
}

.text {
	display: block;
	font-size: 22px;
	font-weight: lighter;
}

footer {
	text-align: center;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 25px;
}